*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

    

}
body{
    background-color: teal;
}
input{
    padding: 10px;
    outline: none;
    margin: 20px;
}
.row{
    position: relative;
    height: 259px;
}
img{
    width: 500px;
    position: absolute;
}
.btn{
    margin: 20px;
    padding: 10px;
}

h1{
    position: absolute;
    right: 50px;
}